//mark menu
    .home .menu-link[title*=""],
    .page- .menu-link[title*=""]{color:$cl2;}



/*menu resp*/
.anima-menu {
display: block;     
@include size(30px, 20px);
border-top:1px solid $cl2;
border-bottom:1px solid $cl2;
right:12px;   
margin-top:40px;    
position: fixed;
text-indent: -999px;
overflow: hidden;
z-index: 999;
    span{
       font:$t-p $ft1;  margin-left:-50px; text-transform: uppercase; color: $cl2;
    }
}

.anima-menu:before{
    content: "";
    width: 100%;
    height: 1px;
    background:$cl2; 
    position: absolute;
    left:0;
    top:8px;
}



/*cor do link resp*/
.menu-link{ color:#fff; text-decoration:none;}

/*animação do menu resp*/
nav[role=navigation] {
 clear: both;
 -moz-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}

/*class no body para deixar menu escondido no resp*/
.js nav[role=navigation] {
overflow: hidden;
max-height: 0;
}

/*ao acionar a class active o tamanho do menu-link resp seta */
nav[role=navigation].active {
max-height:46em;
}

/*estilizando o menu resp*/
nav[role=navigation] .menu {
margin: 0;
//clear: right;
width:100%;  
margin-top: 100px;
padding: 0;
position: relative;
z-index: 2;
background:$cl1;
text-transform: uppercase;
border-top: 2px solid $cl2;
}

/*estilizando o menu-link resp*/
nav[role=navigation] .menu-link {
display: block;
padding:15px 10px;
border-bottom: 1px solid rgba($cl3, .2);
font:$t-m + .3 $ft1;
    
}
/*estilizando o menu-link:hover resp*/
nav[role=navigation] .menu-link:hover{
    background:$cl2; 
    color:$cl1;
}
