@charset "UTF-8";
/*


****
****

Date: DD/MM/AAAA
Organization of the Styles Sheets

** FRAMEWORK'S CSS
    -- compass


** GLOBAL
    -- variables
    -- placeholder
    -- mixins
    -- normalize
    -- reset
    -- fonts
    -- animations

** MODULES
    -- helpers
    -- grid
    -- menu
    -- form
    -- tabelas
    -- listas
    -- tabs
    -- tooltip
    -- modal
    -- box
    -- galerias

** SECTIONS
	-- header
	-- footer
	-- inner content

** CUSTOM SECTIONS
    -- 

****
****

*/
/*
|----------------------------------------------
| Variables
|----------------------------------------------
*/
/*
|----------------------------------------------
| Placeholder
|----------------------------------------------
*/
.grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/*
|----------------------------------------------
| Mixins e Functions
|----------------------------------------------
*/
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/*
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
*/
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
|----------------------------------------------
| Reset
|----------------------------------------------
*/
/*
|----------------------------------------------
| Fonts
|----------------------------------------------
*/
@font-face {
  font-family: "st_ryde_lightlight";
  src: url("../fonts/stryde_light-webfont.eot");
  src: url("../fonts/stryde_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/stryde_light-webfont.woff") format("woff"), url("../fonts/stryde_light-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "st_ryde_mediummedium";
  src: url("../fonts/stryde_medium-webfont.eot");
  src: url("../fonts/stryde_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/stryde_medium-webfont.woff") format("woff"), url("../fonts/stryde_medium-webfont.ttf") format("truetype");
}
/*
|----------------------------------------------
| Animations
|----------------------------------------------
*/
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes moveDown {
  0% {
    -moz-transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
/*
|----------------------------------------------
| Chrome frame prompt
|----------------------------------------------
*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
|----------------------------------------------
| Grid
|----------------------------------------------
*/
.full {
  width: 100%;
}

.grid {
  width: 990px;
}

.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*!
Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
.l-box {
  padding: 1em;
}

.pure-g {
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

.opera-only :-o-prefocus, .pure-g {
  word-spacing: -.43em;
}

.pure-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
  *width: 12.469%;
}

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-5 {
  width: 20%;
  *width: 19.969%;
}

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.969%;
}

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
  *width: 37.469%;
}

.pure-u-2-5 {
  width: 40%;
  *width: 39.969%;
}

.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.969%;
}

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-3-5 {
  width: 60%;
  *width: 59.969%;
}

.pure-u-5-8, .pure-u-15-24 {
  width: 62.5%;
  *width: 62.469%;
}

.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.969%;
}

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.pure-u-4-5 {
  width: 80%;
  *width: 79.969%;
}

.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-7-8, .pure-u-21-24 {
  width: 87.5%;
  *width: 87.469%;
}

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%;
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    /*!
Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-sm-5-12, .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-sm-7-12, .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-sm-5-8, .pure-u-sm-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-sm-2-3, .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-sm-3-4, .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-sm-5-6, .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-sm-7-8, .pure-u-sm-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-md-5-12, .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-md-7-12, .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-md-5-8, .pure-u-md-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-md-2-3, .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-md-3-4, .pure-u-md-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-md-5-6, .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-md-7-8, .pure-u-md-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-lg-5-12, .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-lg-7-12, .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-lg-5-8, .pure-u-lg-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-lg-2-3, .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-lg-3-4, .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-lg-5-6, .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-lg-7-8, .pure-u-lg-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-xl-5-12, .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-xl-7-12, .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-xl-5-8, .pure-u-xl-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-xl-2-3, .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-xl-3-4, .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-xl-5-6, .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-xl-7-8, .pure-u-xl-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
    width: 100%;
  }
}
/*
|----------------------------------------------
| Form
|----------------------------------------------
*/
.form-contato {
  display: inline-table;
  margin-right: 20px;
}

.form, .wpcf7 {
  width: 100%;
  position: relative;
}

.legend {
  font: 1em "st_ryde_mediummedium";
}

.label {
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

.input, .textarea {
  width: 100%;
  height: 48px;
  margin-bottom: 7px;
  float: left;
  text-indent: 15px;
  border: 1px solid #2574a9;
  color: #565656;
  font-family: "st_ryde_lightlight";
}

.input:focus, .textarea:focus {
  border-color: #2574a9;
  color: #2574a9;
}

.textarea {
  height: 100px;
}

.bt {
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  display: table;
  clear: both;
  background: #2574a9;
  color: #565656;
}
.bt:hover {
  background: #c0392b;
  color: #2574a9;
}
.bt:active {
  background: #565656;
}

/*
.form-contato .bt{
    background: $cl3; float: right;
    &:hover{
        background:$cl2;
    }
    &:active{
    background:$cl3;
  }
}*/
/* Tooltipes Formulário */
.email {
  display: block !important;
}

div.wpcf7-response-output {
  margin: 0;
  padding: 0;
}

span.wpcf7-not-valid-tip {
  position: absolute;
  width: 75%;
  color: #fff !important;
  font-size: .8em;
  background: #a15641;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

span.wpcf7-not-valid-tip:after {
  content: '';
  position: absolute;
  top: 28px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #a15641;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng {
  position: absolute;
  width: 80%;
  color: #fff !important;
  font-size: .8em;
  background: #a15641;
  border: 0 !important;
  text-align: center;
  border-radius: 6px;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 0;
}

div.wpcf7-validation-errors:before, div.wpcf7-mail-sent-ng:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #a15641;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

div.wpcf7-mail-sent-ng {
  width: 740px !important;
}

.wpcf7-mail-sent-ok {
  position: absolute;
  width: 75%;
  color: #FFFFFF;
  font-size: .8em;
  background: #d6cb6f;
  border: 0 !important;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  top: -38px;
  left: 0;
}

.wpcf7-mail-sent-ok:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #d6cb6f;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/*
|----------------------------------------------
| Tabelas
|----------------------------------------------
*/
/*
|----------------------------------------------
| List
|----------------------------------------------
*/
/*
|----------------------------------------------
| Tabs
|----------------------------------------------
*/
/*
|----------------------------------------------
| Tooltip
|----------------------------------------------
*/
/*
|----------------------------------------------
| Modals
|----------------------------------------------
*/
/*
|----------------------------------------------
| Box
|----------------------------------------------
*/
/*
|----------------------------------------------
| Galerias
|----------------------------------------------
*/
/*
|----------------------------------------------
| Header
|----------------------------------------------
*/
.home .menu-link[title*=""],
.page- .menu-link[title*=""] {
  color: #c0392b;
}

/*menu resp*/
.anima-menu {
  display: block;
  width: 30px;
  height: 20px;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  right: 12px;
  margin-top: 40px;
  position: fixed;
  text-indent: -999px;
  overflow: hidden;
  z-index: 999;
}
.anima-menu span {
  font: 0.875em "st_ryde_lightlight";
  margin-left: -50px;
  text-transform: uppercase;
  color: #c0392b;
}

.anima-menu:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #c0392b;
  position: absolute;
  left: 0;
  top: 8px;
}

/*cor do link resp*/
.menu-link {
  color: #fff;
  text-decoration: none;
}

/*animação do menu resp*/
nav[role=navigation] {
  clear: both;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*class no body para deixar menu escondido no resp*/
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/*ao acionar a class active o tamanho do menu-link resp seta */
nav[role=navigation].active {
  max-height: 46em;
}

/*estilizando o menu resp*/
nav[role=navigation] .menu {
  margin: 0;
  width: 100%;
  margin-top: 100px;
  padding: 0;
  position: relative;
  z-index: 2;
  background: #2574a9;
  text-transform: uppercase;
  border-top: 2px solid #c0392b;
}

/*estilizando o menu-link resp*/
nav[role=navigation] .menu-link {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(86, 86, 86, 0.2);
  font: 1.3em "st_ryde_lightlight";
}

/*estilizando o menu-link:hover resp*/
nav[role=navigation] .menu-link:hover {
  background: #c0392b;
  color: #2574a9;
}

/*
|----------------------------------------------
| footer
|----------------------------------------------
*/
/*
|----------------------------------------------
| Inner Content
|----------------------------------------------
*/
.cont:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 249px;
  background: url("../images/bg-interno.jpg") no-repeat;
}
.cont .grid {
  padding-top: 150px;
}
.cont .tit-nivel2 {
  background: none;
  padding: 0;
}

.page- .cont:before {
  background: url("../images/bg-interno.jpg") no-repeat;
  background-position: center 0px;
}

.page- .cont:before {
  background: url("../images/bg-interno.jpg") no-repeat;
  background-position: center -250px;
}

.page- .cont:before {
  background: url("../images/bg-interno.jpg") no-repeat;
  background-position: center -500px;
}

.page- .cont:before {
  background: url("../images/bg-interno.jpg") no-repeat;
  background-position: center -750px;
}

/*
|----------------------------------------------
| _query 320 pra coisas bem especificas
|----------------------------------------------
*/
@media only screen and (max-width: 320px) {
  .single-galeria li.list-tao img {
    width: 110px;
    height: 74px;
  }
  .single-galeria li.list-tao:nth-child(1n) {
    margin: 0 7px 15px 7px;
  }
}
/*
|----------------------------------------------
| _query 800 pra galeria
|----------------------------------------------
*/
@media only screen and (min-width: 800px) {
  .home .list-tao:nth-child(3n) {
    margin-right: 0;
  }
}
/*
|----------------------------------------------
| _query 800 pra coisas globais
|----------------------------------------------
*/
@media only screen and (max-width: 800px) {
  .cem .grid {
    width: 90%;
    margin: 0 auto;
  }

  .tit-nivel3 {
    font-size: 1.2em !important;
  }

  .header {
    padding: 0;
  }
  .header .tp {
    position: fixed;
    border-bottom: 1px solid #c0392b;
    z-index: 999;
    width: 100%;
    background: #2574a9;
  }
  .header:after {
    top: 0;
  }

  .b-menu {
    margin-top: 0;
    width: auto;
    background: #2574a9;
  }

  section.painel {
    margin-top: 60px;
  }

  .logo {
    width: 220px;
    height: 42px;
    margin: 9px 10px;
    float: left;
    background: url("../images/logo-resp.png");
  }

  .rdp {
    padding-bottom: 10px;
    margin-top: 35px;
  }
  .rdp .iframe, .rdp .menu {
    display: none;
  }

  .address {
    margin-left: 0;
    text-align: center;
  }
  .address p {
    font: 1.25em "st_ryde_lightlight";
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .fone {
    font-size: 1.875em !important;
  }

  .direitos {
    display: none;
  }

  .edeas {
    margin-top: 13px;
    text-align: right;
  }

  .tit-nivel2 {
    font-size: 1.7em !important;
  }

  .area .input {
    margin-bottom: 7px;
  }

  .prev1, .next1, .prev, .next {
    display: none !important;
  }

  .form-contato {
    margin: 0;
  }
}
/*
|----------------------------------------------
| _query 800 do menu principal
|----------------------------------------------
*/
@media screen and (min-width: 800px) {
  .anima-menu {
    display: none;
  }

  .js nav[role=navigation] {
    clear: none;
    max-height: none;
  }

  /*menu normal*/
  nav[role=navigation] .menu {
    border: 0;
    float: left;
    margin-top: 10px;
    background: transparent;
    width: 100%;
  }

  /*estilizando a lista do menu*/
  nav[role=navigation] .menu li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
  }
  nav[role=navigation] .menu li:first-child {
    margin-left: 60px;
  }
  nav[role=navigation] .menu li:last-child {
    margin-right: 0;
  }

  /*estilizando o link do menu*/
  nav[role=navigation] .menu-link {
    border: 0;
    font: 1.125em "st_ryde_lightlight";
    color: #fff;
    padding: 15px 10px;
  }

    /*.menu li .menu-link[title*="Home"]{
        padding-left: 0;
}*/
  /*estilizando o hover do menu*/
  nav[role=navigation] .menu-link:hover {
    background: none;
    color: #565656;
  }
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}

/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/
/* classes constants */
.dn {
  display: none;
}

.db {
  display: block;
}

.img-rep {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.fl-lf {
  float: left;
}

.fl-rg {
  float: right;
}

.mr-lf {
  margin-left: 0;
}

.mr-bt {
  margin-bottom: 0;
}

/* mudar selecao */
::-moz-selection {
  color: #000;
  background: #d74a2c;
  text-shadow: none;
}

::selection {
  color: #000;
  background: #d74a2c;
  text-shadow: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* css micro clearfix */
/* css micro clearfix */
/*
.cf:before, .cf:after {content:""; display:table;}
.cf:after {clear:both;}
 for ie 6/7 (trigger haslayout) 

.cf {zoom:1;}

*/
